body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-nav {
  width                : 100%;
  height               : 6rem;
  display              : grid;
  grid-template-columns: 8rem 1fr 2fr 1fr 1fr;
  /* box-shadow        : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* background-color  : #36b1e2b1; */
  /* border            : 1px solid black; */
}

.logo {
  grid-column: 2/3;
  color      : #6a0ec094;
}

.menu-links ul {
  margin-top              : 30px;
  width                   : 100%;
  text-decoration         : none;
  list-style-type         : none;
  /* grid-column          : 3/4; */
  display                 : flex;
  justify-content         : space-around;
  align-items             : center;
  font-size               : large;
  /* grid-template-columns: 2rem 1fr 1fr 1fr 1fr 2rem; */
}

.menu-links li a {
  color: #544e4e;
}

a:hover {
  text-decoration: none;
}

.li1 {
  grid-column: 2/3;
}

.about {
  margin-top: 30px;
  font-size : large;
  color     : #544e4e;
  text-align: right;
}

.mode {
  /* display: flex; */
  margin-top  : 30px;
  margin-right: 10px;
  font-size   : large;
  color       : #544e4e;
  text-align  : right;
}

.mode:hover {
  cursor: pointer;
}


.table {
  width      : 80%;
  text-align : left;
  margin-left: 10%;

}

/* .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

  overflow: hidden;
  transition: height 2000ms

} */


/* CSS for Media */
@media (max-width: 998px) {
  .menu-links {
    display: none;
  }

  .about {
    display: none;
  }

  .mode {
    /* display: flex; */
    margin-top: 30px;
    font-size : large;
    /* color  : #544e4e; */
    text-align: right;
  }
}


/* --------------------- */

.dropdown-menu-right {
  right: 0;
  left : auto;
}

.px-14 {
  padding-right: 140px;
  padding-left : 140px;
}


/* SCROLLING for Categories Tab */
.navbars {
  width           : 100%;
  overflow        : auto;
  white-space     : nowrap;

  /* Stick Category Bar at Top */
  display : block;
  position: sticky;
  /* Allocates space for the element, but moves it with you when you scroll */
  top     : 0;
  /* specifies the start position for the sticky behavior - 0 is pretty common */
  z-index : 1;
}

.navbars::-webkit-scrollbar {
  /* width: 0px; */
  height: 1px;
}

/* Track */
.navbars::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.navbars::-webkit-scrollbar-thumb {

  background: #888;
}

/* Handle on hover */
.navbars::-webkit-scrollbar-thumb:hover {
  background: #e49393;
  width     : 2px;
}

.navbar-brand:hover {
  cursor: pointer;
}

.searchField {
  /* position: absolute; */
  width     : 19%;
  transition: width 0.3s ease-in-out;
}

.searchField:focus {
  width: 25%;
}

.timer {
  position: absolute;
  left: 1%;
  top: 15%;
}

.circle {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  border-radius: 100%;
}

.countDown-circle {
  height: 40px;
  width: 40px;
  border: 2px solid black;
  border-radius: 100%;
}

.question-icon {
  text-align: center;
  font-size: 13px;
  height: 35px;
  width: 35px;
  /* border: 1px solid black; */
  border: none;
  border-radius: 100%;
}

.question-status-chart {
  width: 100%;
  height: 100%;
}

.question-status-chart::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}



/* Handle */
.question-status-chart::-webkit-scrollbar-thumb {

  background: #888;
}

/* Handle on hover */
.question-status-chart::-webkit-scrollbar-thumb:hover {
  background: #393838;
  /* width     : 10px; */
}


/*  */
.move-top-right {
  position: absolute;
  right: 1%;
  top : 15%;
}

.card {
  height: 300px;
  border-radius: 5px;
}

.cardHeading {
  height: 40%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #a6a2a2;
}

.cardQuestion {
  height: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* .requisite-from {
  width: 50%;

} */


.all-topics {
  border: 1px solid black;
  border-radius: 5px;
}

.topics-div {
  height: 6rem;
  width: 100%;
  border-radius: 5px;
  z-index : 1;
}

/*  */
.topics-div::-webkit-scrollbar {
  /* width: 0px; */
  height: 2px;
  width: 2px;
}

/* Track */
.topics-div::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.topics-div::-webkit-scrollbar-thumb {

  background: #888;
}

/* Handle on hover */
.topics-div::-webkit-scrollbar-thumb:hover {
  background: #666363;
  /* width     : 10px; */
}

.navbar-brand:hover {
  cursor: pointer;
}








/* TO CENTER DIV */
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.center1 {
  margin: auto;
  width: 80%;
  padding: 10px;
}



/* TOASTIFY CSS */
.Toastify__toast--info {
  /* border       : 1px solid #ea3f3f; */
  border-radius: 5px !important;
  /* background   : #df7171 !important; */
  /* color      : rgb(220, 11, 11) !important; */
  width: 60%;
  height: 5px;
  position: relative;
  left: 43%;
}

.Toastify__toast--info::after {
  /* content    : url('../assets/images/svg/closeToast.svg'); Your svg Path */
  position   : absolute;
  /* color      : #e9e3e3 !important; */
  font-size  : 15px;
  font-weight: 700;
  left       : 200px;
  padding-top: 14px !important;
}

.Toastify__toast--info::before {
  /* content : url("../assets/images/svg/errorToast.svg"); Your svg Path */
  position: relative;
  z-index : 100000;
  left    : 12px;
  top     : 6px;
}

/*  */
.Toastify__toast--error {
  border       : 1px solid #EB5757;
  border-radius: 50px !important;
  background   : #FAE1E2 !important;
}

.Toastify__toast--error::after {
  /* content    : url('../assets/images/svg/closeToast.svg'); Your svg Path */
  position   : absolute;
  color      : #c29e9e;
  font-size  : 15px;
  font-weight: 700;
  left       : 265px;
  padding-top: 14px !important;
}

.Toastify__toast--error::before {
  /* content : url("../assets/images/svg/errorToast.svg"); Your svg Path */
  position: relative;
  z-index : 100000;
  left    : 12px;
  top     : 6px;
}

.Toastify__toast--success {
  border       : 1px solid #3A9EA5 !important;
  border-radius: 50px !important;
  background   : #F0F9FA !important;
}

.Toastify__toast--success::before {
  /* content : url("../assets/images/svg/successToast.svg"); Your svg Path */
  position: relative;
  z-index : 100000;
  left    : 12px;
  top     : 6px;
}

.Toastify__toast--success::after {
  /* content    : url('../assets/images/svg/closeToast.svg'); Your svg Path */
  position   : absolute;
  color      : #e7dede;
  font-size  : 15px;
  font-weight: 700;
  left       : 265px;
  padding-top: 14px !important;
}

.Toastify__toast--warning {
  border       : 1px solid #E78326 !important;
  border-radius: 50px !important;
  background   : #FADFC5 !important;
}

.Toastify__toast--warning::before {
  /* content : url("../assets/images/svg/warnToast.svg"); Your svg Path */
  position: relative;
  z-index : 100000;
  left    : 12px;
  top     : 6px;
}

.Toastify__toast--warning::after {
  /* content    : url('../assets/images/svg/closeToast.svg'); Your svg Path */
  position   : absolute;
  color      : #E78326;
  font-size  : 15px;
  font-weight: 700;
  left       : 265px;
  padding-top: 14px !important;
}

.Toastify__toast-body {
  color       : #444C63;
  font-size   : 16px;
  padding-left: 20px;
  line-height : 20px;
  padding     : 0px;
  padding-top : 25px;
  width       : 100%;
  font-weight : 400;
  margin-left : 25px !important;
}

.Toastify__toast>button>svg {
  display: none;
}

.resultBoard {
  display: inline-block;
  height: 35%;
  width: 35%;
  /* border: 1px solid rgb(188, 186, 186); */
  /* margin-top: auto; */
  /* margin-bottom: auto;
  text-align: center; */
  /* padding-top: 3%; */
  align-items: center;
}

@keyframes html-progress {
  to { --progress-value: 92; }
}