body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-nav {
  width: 100%;
  height : 6rem;
  display: grid;
  grid-template-columns: 8rem 1fr 2fr 1fr 1fr;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  /* background-color: #36b1e2b1; */
  /* border: 1px solid black; */
}

.logo {
  grid-column: 2/3;
  color: #6a0ec094;
}

.menu-links  ul{
  margin-top: 30px;
  width: 100%;
  text-decoration: none;
  list-style-type: none;
  /* grid-column: 3/4; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: large;
  /* grid-template-columns: 2rem 1fr 1fr 1fr 1fr 2rem; */
}

.menu-links li a{
  color:#544e4e ;
}

.li1 {
  grid-column: 2/3;
}

.about {
  margin-top: 30px;
  font-size: large;
  color: #544e4e;
  text-align: right;
}

.mode {
  /* display: flex; */
  margin-top: 30px;
  margin-right: 10px;
  font-size: large;
  color: #544e4e;
  text-align: right;
}


.table {
  width: 80%;
  text-align: left;
  margin-left: 10%;

}

/* .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

  overflow: hidden;
  transition: height 2000ms

} */


/* CSS for Media */
@media (max-width: 998px) {
  .menu-links {
    display: none;
  }

  .about {
    display: none;
  }

  .mode {
    /* display: flex; */
    margin-top: 30px;
    font-size: large;
    /* color: #544e4e; */
    text-align: right;
  }
}


/* --------------------- */

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.px-14 {
  padding-right: 140px;
  padding-left: 140px;
}


/* SCROLLING for Categories Tab */
.navbars {
  background-color: #ffffff;
  color: rgb(19, 21, 23);
  width: 100%;
  overflow        : auto;
  white-space     : nowrap;

  /* Stick Category Bar at Top */
  display: block;
  position: sticky; /* Allocates space for the element, but moves it with you when you scroll */
  top: 0; /* specifies the start position for the sticky behavior - 0 is pretty common */
  z-index: 1;
}

.navbars::-webkit-scrollbar {
  /* width: 0px; */
  height: 1px;
}

/* Track */
.navbars::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.navbars::-webkit-scrollbar-thumb {
  
  background: #888; 
}

/* Handle on hover */
.navbars::-webkit-scrollbar-thumb:hover {
  background: #e49393; 
  width: 2px;
}

.navbar-brand:hover {
  cursor: pointer;
}





